# -----------------------------
# Python Bytecode
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.venv/
env/
ENV/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# PyCharm
# -----------------------------
.idea/

# -----------------------------
# Python Cache
# -----------------------------
.pytest_cache/
.mypy_cache/

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Log Files
# -----------------------------
*.log

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db
desktop.ini
