# Python bytecode files
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Python cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log
